<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Jersey+20&display=swap"
      rel="stylesheet"
    />
    <title>NutriAPP</title>
  </head>

  <body style="background-image: url('{{ url_for('static', filename='img/nutrias.jpg') }}'); background-size: cover; background-attachment: fixed;">
    <nav
      class="navbar navbar-expand-lg border border-dark rounded-0"
      style="background-color: #d1bfae;"
    >
      <div class="container-fluid">
        <a
          class="navbar-brand text-light text-uppercase"
          style="font-family: 'Jersey 20', sans-serif"
          href="#"
          >NutriApp</a
        >
        <button
          class="navbar-toggler bg-dark"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active text-light text-uppercase"
                style="font-family: 'Jersey 20', sans-serif"
                href="{{url_for('index')}}"
                >Inicio</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link text-light text-uppercase"
                style="font-family: 'Jersey 20', sans-serif"
                href="{{url_for('recetas')}}"
                >Recetas</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link text-light text-uppercase"
                style="font-family: 'Jersey 20', sans-serif"
                href="{{url_for('calculadoras')}}"
                >calculadoras</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link text-light text-uppercase"
                style="font-family: 'Jersey 20', sans-serif"
                href="{{url_for('analizador')}}"
                >Analizador de recetas personlizadas</a
              >
            </li>
            <li>
              <a
                class="nav-link text-light text-uppercase"
                style="font-family: 'Jersey 20', sans-serif"
                href="{{url_for('sabermas')}}"
                >Para saber mas</a
              >
            </li>
          </ul>

          {% if usuario_sesion %}
          <div class="dropdown">
            <button
              class="btn btn-outline-light dropdown-toggle text-uppercase"
              type="button"
              data-bs-toggle="dropdown"
            >
             👤 {{ usuario_sesion.nombre }}
            </button>
            <ul class="dropdown-menu dropdown-menu-end border-dark">
              <li>
                <a
                  class="dropdown-item text-uppercase"
                  href="{{ url_for('perfil') }}"
                  >Ver perfil</a
                >
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a
                  class="dropdown-item text-uppercase text-danger"
                  href="{{ url_for('cerrarsesion') }}"
                  >Cerrar sesión</a
                >
              </li>
            </ul>
          </div>
          {% else %}
          <div class="dropdown">
            <button
              class="btn btn-outline-light dropdown-toggle text-uppercase"
              type="button"
              data-bs-toggle="dropdown"
            >
              Usuario
            </button>
            <ul class="dropdown-menu dropdown-menu-end border-dark">
              <li>
                <a
                  class="dropdown-item text-uppercase"
                  href="{{ url_for('iniciosesion') }}"
                  >Iniciar sesión</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item text-uppercase"
                  href="{{ url_for('crearcuenta') }}"
                  >Crear cuenta</a
                >
              </li>
            </ul>
          </div>
          {% endif %}
        </div>
      </div>
    </nav>

    <section class="m-3 p-3 border border-dark rounded-0" style="background-color: #f5f0e6a1;">
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %}
      <div class="container mt-3">
        {% for category, message in messages %}
        <div
          class="alert alert-{{ category }} alert-dismissible fade show"
          role="alert"
        >
          {{ message }}
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
          ></button>
        </div>
        {% endfor %}
      </div>
      {% endif %} {% endwith %} {% block content %} {% endblock %}
    </section>

    <footer
      class="text-center text-white py-3"
      style="background-color: #d1bfae; font-family: 'Jersey 20', sans-serif;"
    >
      <p> Desarrollado Y Diseñado Por: Vazquez Ortiz y Galvan Diaz</p>
      <p>&copy; 2024 NutriApp. Todos los derechos reservados.</p>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
