{% extends "base.html" %}
{% block content %}
<div class="container my-4 font-monospace">
  <div class="border border-dark bg-white p-4 rounded-0">
    <h2 class="text-success text-uppercase mb-3" style="font-family: 'Jersey 20', sans-serif;">
      Contacto
    </h2>

    <p class="text-uppercase" style="font-family: 'Jersey 20', sans-serif;">
      Si te comunicas con nosotros por estas redes tienes un 50% más de probabilidad de tener respuesta rápido:
    </p>

    <ul class="list-group border border-dark rounded-0">
      <li class="list-group-item">
        <a href="https://www.facebook.com/angel.galvan.37550" target="_blank" class="text-decoration-none">
          Facebook de Angel
        </a>
      </li>
      <li class="list-group-item">
        <a href="https://www.facebook.com/yui.chan.uwu.awuadecanela" target="_blank" class="text-decoration-none">
          Facebook de Judith
        </a>
      </li>
      <li class="list-group-item">
        <a href="https://www.instagram.com/justt_ang17/" target="_blank" class="text-decoration-none">
          Instagram de Angel
        </a>
      </li>
      <li class="list-group-item">
        <a href="https://www.instagram.com/dann._.zpt/" target="_blank" class="text-decoration-none">
          Instagram de Judith
        </a>
      </li>
    </ul>

    <div class="mt-4">
      <p class="text-muted" style="font-family: 'Jersey 20', sans-serif;">
        También puedes dejarnos un mensaje por correo o en el formulario de sugerencias (próximamente).
      </p>
    </div>
  </div>
</div>
{% endblock %}
