{% extends "base.html" %}
{% block content %}

<form class="container my-4 font-monospace" style="max-width: 400px;" method="POST">
  <div class="border border-dark bg-white p-4 rounded-0">

    <h2 class="text-success text-uppercase mb-4" style="font-family: 'Jersey 20', sans-serif;">
      Iniciar Sesión
    </h2>

    <!-- Usuario/correo/teléfono -->
    <div class="mb-3">
      <label class="form-label text-uppercase" style="font-family: 'Jersey 20', sans-serif;">
        Correo o Teléfono
      </label>
      <input type="text" class="form-control form-control-sm border border-dark rounded-0"
        name="nombre" id="username" placeholder="Ingresa tu correo o teléfono" required>
    </div>

    <!-- Contraseña -->
    <div class="mb-3">
      <label class="form-label text-uppercase" style="font-family: 'Jersey 20', sans-serif;">
        Contraseña
      </label>
      <input type="password" class="form-control form-control-sm border border-dark rounded-0"
        name="contraseña" id="password" placeholder="********" required>
    </div>

    <button type="submit" class="btn btn-sm btn-outline-dark text-uppercase"
      style="font-family: 'Jersey 20', sans-serif;">
      Iniciar Sesión
    </button>

  </div>
</form>

{% endblock %}

