{% {% extends "base.html" %}%}
{% block content %}
<div class="container my-5 font-monospace" style="max-width: 700px;">
  <div class="border border-dark bg-white p-5 rounded-3 shadow">
    <h2 class="text-center text-success text-uppercase mb-4" style="font-family: 'Jersey 20', sans-serif;">
      Perfil de Usuario
    </h2>

    <div class="mb-4">
      <h4 class="text-uppercase" style="font-family: 'Jersey 20', sans-serif;">Información Personal</h4>
      <p><strong>Nombre:</strong> {{'nombre'}}</p>
      <p><strong>Correo Electrónico:</strong>
        {{'correo'}}</p>
      <p><strong>Edad:</strong> {{'edad'}} años</p>
        <p><strong>Sexo:</strong> {{'sexo'}}</p>
        <p><strong>Peso:</strong> {{'peso'}} kg</p>
        <p><strong>Altura:</strong> {{'altura'}} cm</p>
    </div>
    <div>
      <h4 class="text-uppercase" style="font-family: 'Jersey 20', sans-serif;">Objetivos de Salud</h4>
      <p><strong>Nivel de Actividad Física:</strong> {{'nivel_actividad'}}</p>
      <p><strong>Objetivo:</strong> {{'objetivo'}}</p>
    </div>
  </div>
</div>
{% endblock %}