{% extends "base.html" %}
{% block content %}

<div class="container">
  <div class="card border-success shadow">
    <div class="card-header bg-success text-white" style="font-family:'Jersey 20'; font-size: 2rem;">
      {{ receta.nombre }}
    </div>

    <div class="card-body">
      <p><strong>Categoría:</strong> {{ receta.categoria }}</p>
      <p><strong>Dificultad:</strong> {{ receta.dificultad }}</p>
      <p>{{ receta.descripcion }}</p>

      <h5 class="mt-4 text-success">Ingredientes</h5>
      <ul>
        {% for ing in ingredientes %}
          <li>{{ ing.cantidad }} - {{ ing.ingrediente }}</li>
        {% endfor %}
      </ul>

      <h5 class="mt-4 text-success">Información nutricional</h5>
      <ul>
        <li><strong>Calorías totales:</strong> {{ receta.calorias_totales }} kcal</li>
        <li><strong>Proteínas:</strong> {{ receta.proteinas }} g</li>
        <li><strong>Grasas:</strong> {{ receta.grasas }} g</li>
        <li><strong>Carbohidratos:</strong> {{ receta.carbohidratos }} g</li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}
