{% extends "base.html" %}
{% block content %}
<div class="container my-4 font-monospace">
    <div class="row g-3">
        <div class="col-md-12">
        <div class="card mb-3 border border-dark rounded-0">
            <div class="card-header text-white text-uppercase" style="background-color: #000080; font-family: 'Jersey 20', sans-serif;">
            ¿Por qué es importante una buena nutrición?
            </div>
            <div class="card-body">
            <p>Una buena nutrición es fundamental para mantener una salud óptima y prevenir enfermedades. Una dieta equilibrada proporciona los nutrientes esenciales que nuestro cuerpo necesita para funcionar correctamente, fortalecer el sistema inmunológico y mantener niveles adecuados de energía.</p>
            </div>
        </div>
    
        <div class="card mb-3 border border-dark rounded-0">
            <div class="card-header text-white text-uppercase" style="background-color: #000080; font-family: 'Jersey 20', sans-serif;">
            Consejos para una alimentación saludable
            </div>
            <div class="card-body">
            <ul>
                <li>Incorpora una variedad de frutas y verduras en tu dieta diaria.</li>
                <li>Elige granos enteros en lugar de granos refinados.</li>
                <li>Limita el consumo de azúcares añadidos y grasas saturadas.</li>
                <li>Mantente hidratado bebiendo suficiente agua.</li>
                <li>Practica el control de porciones para evitar el exceso de calorías.</li>
            </ul>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}